<%- include('./partials/header.ejs') %>
<h1>First Post</h1>
<p><%= homeStartingContent %> </p>

<% posts.forEach(function(p){  %>
<% console.log(p.postTitle); %>
    <h1><%=p.postTitle %></h1>
    <p><%=p.postBody.substring(0,100) + "... "%> <a href="/posts/<%=p.postTitle%>">Read More</a></p> 
<% }) %> 


<%- include('./partials/footer.ejs') %>

